.table-container {
  width: 100%;
  max-width: 1200px;
  margin: 4rem auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* overflow: scroll; */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.view-resume-button button {
  padding: 8px;
  cursor: pointer;
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.view-resume-button button:hover {
  background-color: #01725b;
  transition: all 0.5s ease-in-out;
}
