<div class="error-container">
  <div class="error-header-container">
    <h1>OOPs</h1>
    <div class="error-header-image-container">
      <img src="/images/sad-removebg-preview.png" />
    </div>
  </div>
  <div class="error-info-container">
    <h1>Only recruiters are allowed to access this page. Please login as a recruiter to continue.</h1>
  </div>
</div>
