<div class="index-container">
  <div class="heading-box">
    <h1>A Comprehensive platform for reliable</h1>
    <h2>job opportunities and internships</h2>
    <h4>Get discovered. Get hired.</h4>
    <div class="button-container">
      <button>I'm a job seeker</button>
      <button>I'm a recruiter</button>
    </div>
  </div>
</div>
